* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: #777777 !important;
    color: #000000 !important;
}

canvas {
  display: inline-block;
  overflow: scroll;
}
